<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">

        <ul class="nav nav-second-level" id="side-menu">

            <li class="active">
                <a href="#"><i class="fa fa-files-o fa-fw"></i>Documents Lists<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="active" href="/document_show/postman_manual">Postman Document</a>
                    </li>
                    <li>
                        <a href="/document_show/Liberty-47UserDoc">Liberty-47 User Document</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
